ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background: #eee;
    margin: 1px;
    padding: 5px 10px;
  }
  
  .sortable-ghost {
    opacity: .6;
  }

  #kanban-container{
      display: flex;
  }
  #users-container{
    border: solid 2px black;
    width: 200px;
    min-height: 200px;
  }
  .taches-container{
    border: solid 2px black;
    width: 200px;
    min-height: 200px;
  }
  .column-containers{
    width: 200px;
    min-height:400px;
    border: solid 2px black;
  }

 