* {
    box-sizing: border-box;
}
body{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   font-size: 16px;
   color: #ffff;
   background-color: #ffffff;
}
.container{
    width: 350px;
    height: 450px;
    background-color: #5EE6EB;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px;
    border-radius: 5px;
    border-top: 5px solid #001D6E;
    border-bottom: 5px solid #001D6E;
    box-shadow: 0 0 10px #000;
}